extends layout

block content 
  ul.container
    each blog in blogs
      li
        .wrapper
          h3= blog.title
          h3= blog.topic
          h3.right
            a(href="/blogs/" + blog.id)  View
      hr