extends layout

block content
  form(action="/blog/create" method="POST")
    label(for='topic') Topic
    input(type='text' name='topic' id='topic')

    label(for='title') Title
    input(type='text' name='title' id='title')

    label(for='body') Body
    textarea(name='body', rows='30') 

    input.submit(type='submit' value='Add blog')