extends layout

block content
  h1 This software can store your blogs and update their rank
  a.create(href="/blog/create") Write a blog

  footer
    p This web application was created to fulfill Technology module’s requirements and does not represent an actual company or service